@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    background-color: var(--Light-gray);
}
main{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
main .main-container{
    background-color: var(--White);
    padding: 1rem;
    max-width: 22rem;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 10px 12px;
    text-align: center;
}
h2{
    color: var(--Dark-blue);
    margin-bottom: .8rem;
    font-weight: 700;
}
p{
    color: var(--Grayish-blue);
    font-weight: 400;
}
.text-container{
    padding: 1rem;
}
.qr-code img{
    max-width: 100%;
    margin-bottom: .8rem;
    border-radius: 8px;
}
.attribution { 
    font-size: 11px; text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}